.col-sm-4 {
  padding-bottom: 40px;
}

body {
  background-color: #ecf0f1;
}

.jumbotron {
  background-image: url(../img/jumbo.jpg);
  background-size: 250px;
}

.display {
padding-top: 50px;
padding-left: 200px;
font-size: 20px;
list-style: none;

}

.backgroundimg {
  background-image: url(../img/ticket.png);
  background-size: 600px;
  background-repeat: no-repeat;
  width: 900px;
  height: 300px;
}

.movieli, .timeli, .ageli, .ticketNumli {
  padding-bottom: 5px;
}

form {
  padding-bottom: 25px;
}

.jumbotron h1 {
  text-shadow: 10px 10px 20px black;
  text-align: center;
  color: white;
}

.ticket {
  padding-left: 17%;
  display: none;
}
